<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="icon" type="image/png" href="/static/img/favicon.png" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    
    <script src="/static/js/poc.js"></script>
    
    <title>RESTful CRUD</title>
  </head>
  <body>
    <div class="row height-20"></div>
    <div class="row">
      <div class="col col-10"></div>
      <div id="poc" class="col col-80">
        <%- html %>
      </div>
      <div class="col col-10"></div>
    </div>
    <footer class="footer"></footer>
  </body>
</html>